* {
  font-family: "DejaVu Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

window#waybar {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

#clock {
  padding: 0 10px;
  background: transparent;
}
